In [2]:
# import libraries
import pandas as pd

In [3]:
# read data
crime_data = pd.read_csv('data/input/crime.csv')

In [4]:
# find the data types
crime_data.dtypes

INCIDENT_NUMBER         object
OFFENSE_CODE             int64
OFFENSE_CODE_GROUP      object
OFFENSE_DESCRIPTION     object
DISTRICT                object
REPORTING_AREA          object
SHOOTING                object
OCCURRED_ON_DATE        object
YEAR                     int64
MONTH                    int64
DAY_OF_WEEK             object
HOUR                     int64
UCR_PART                object
STREET                  object
Lat                    float64
Long                   float64
Location                object
dtype: object

In [5]:
# find missing values
crime_data.isnull().sum()

INCIDENT_NUMBER             0
OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                 1765
REPORTING_AREA              0
SHOOTING               318054
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART                   90
STREET                  10871
Lat                     19999
Long                    19999
Location                    0
dtype: int64

In [8]:
# NaN values are the same as NO shooting happened
crime_data.SHOOTING.value_counts(dropna=False)

NaN    318054
Y        1019
Name: SHOOTING, dtype: int64

In [13]:
# Fill NaN values (na) with N, as in NO shooting took place. Then replace the N and Y, with False for NO shooting and True for YES shooting took place
crime_data.SHOOTING.fillna('N', inplace=True)
crime_data.SHOOTING.replace({'Y':True, 'N':False}, inplace=True)
# Did it work?
crime_data.SHOOTING.value_counts(dropna=False)

False    318054
True       1019
Name: SHOOTING, dtype: int64

In [15]:
# Find missing values in STREET column
crime_data.STREET.value_counts(dropna=False)

WASHINGTON ST           14194
NaN                     10871
BLUE HILL AVE            7794
BOYLSTON ST              7221
DORCHESTER AVE           5149
                        ...
ABBOT ST BSTN               1
CLARE                       1
BLUE HILL AVSCHUYLER        1
READVILLE                   1
PUBLIC ALLEY NO 430         1
Name: STREET, Length: 4658, dtype: int64

In [17]:
crime_data.Location.value_counts(dropna=False)

(0.00000000, 0.00000000)       19999
(42.34862382, -71.08277637)     1243
(42.36183857, -71.05976489)     1208
(42.28482577, -71.09137369)     1121
(42.32866284, -71.08563401)     1042
                               ...
(42.32396068, -71.10535323)        1
(42.34873640, -71.16596814)        1
(42.32194733, -71.10280115)        1
(42.37588042, -71.05901516)        1
(42.35805637, -71.05228147)        1
Name: Location, Length: 18194, dtype: int64